@charset "utf-8";
/* CSS Document */

*{margin:0px; padding:0px; box-sizing:border-box;} 
body{color:#000; font:400 12px arial; text-align:left; background:#fff} 
a{color:#000; text-decoration:none; outline:none;}
a:hover{text-decoration:none; color:#004f8b;} 
img{border:0px; font-size:0; line-height:0; max-width:100%;} 
ul, li{	list-style-type:none;} 
input, textarea{font-family:arial; font-size:11px; border:none; background:none;}
.clear{clear:both; font-size:0; line-height:0;}
.left{float:left;}
.right{float:right;}
html {
    -webkit-text-size-adjust: none;
}
.block_widget{
	border:1px solid #eee;
}
*+html .block_widget{
	float:left;
	width:100%;
}
.width_common_widget{
	width:100%;
	float:left;
}
.title_widget{
	padding:0 0 5px 0;
}
.title_widget_left{
	float:left;
}
.title_widget_left .title_txt{
	float:left;
	display:inline-block;
	padding:5px 0 0 0;
}
.title_widget_left a{
	font:400 18px arial;
	color:#9f224e;
	margin:0 0 0 10px;
}
.title_widget_left a.pt_giaitri{
	color:#d71450;
}
.title_widget_left a.pt_thethao{
	color:#58a12b;
}
.title_widget_left a.pt_kinhdoanh{
	color:#04416d;
}
.title_widget_left a.pt_doisong{
	color:#03a59c;
}
.title_widget_left a.pt_dulich{
	color:#0072bb;
}
.title_widget_left a.pt_sohoa{
	color:#df9c00;
}
.title_widget_left a.pt_phapluat{
	color:#6e2c2d;
}
.title_widget_left a.pt_khoahoc{
	color:#806f26;
}
.title_widget_left a.pt_xe{
	color:#6a7b83;
}
.title_widget_left a.pt_raovat{
	color:#176f87;
}
.title_widget_left a.pt_cuoi{
	color:#dc3926;
}
.title_widget_left a.pt_gamethu{
	color:#d4222b;
}
.title_widget_left a.pt_suckhoe{
	color:#04a59d;
}
.title_widget_right{
	float:right;
}
.title_widget_right a{
	font:400 11px arial;
	color:#999999;
	display:inline-block;
	padding:10px 0 0 0;
	margin:0 10px 0 0;
}
.wg_image_thumb{
	width:33.56%;
	float:left;
	display:block;
	margin:0 3.36% 0 1.68%;
}
.wg_image_thumb img{
	width:100%;
	float:left;
}
.txt_wg_title{
	font:400 14px arial;
}
.list_news_widget_1 li{
	width:100%;
	float:left;
	margin:0 0 1px 0;
	background:#eeeeee;
	padding:5px 2% 5px 0;
	border-left:3px solid #cccccc;
}
.list_news_widget_2 li:last-child,
.list_news_widget_1 li:last-child{
	margin:0;
}
.list_news_widget_1 li.first_line{
	border-left:3px solid #9f224e;
}
.list_news_widget_2 li.first_line.line_giaitri .wg_image_thumb,
.list_news_widget_1 li.line_giaitri{
	border-left:3px solid #d71450;
}
.list_news_widget_2 li.first_line.line_thethao .wg_image_thumb,
.list_news_widget_1 li.line_thethao{
	border-left:3px solid #58a12b;
}
.list_news_widget_2 li.first_line.line_kinhdoanh .wg_image_thumb,
.list_news_widget_1 li.line_kinhdoanh{
	border-left:3px solid #04416d;
}
.list_news_widget_2 li.first_line.line_doisong .wg_image_thumb,
.list_news_widget_1 li.line_doisong{
	border-left:3px solid #03a59c;
}
.list_news_widget_2 li.first_line.line_dulich .wg_image_thumb,
.list_news_widget_1 li.line_dulich{
	border-left:3px solid #0072bb;
}
.list_news_widget_2 li.first_line.line_sohoa .wg_image_thumb,
.list_news_widget_1 li.line_sohoa{
	border-left:3px solid #df9c00;
}
.list_news_widget_2 li.first_line.line_phapluat .wg_image_thumb,
.list_news_widget_1 li.line_phapluat{
	border-left:3px solid #6e2c2d;
}
.list_news_widget_2 li.first_line.line_khoahoc .wg_image_thumb,
.list_news_widget_1 li.line_khoahoc{
	border-left:3px solid #806f26;
}
.list_news_widget_2 li.first_line.line_xe .wg_image_thumb,
.list_news_widget_1 li.line_xe{
	border-left:3px solid #6a7b83;
}
.list_news_widget_2 li.first_line.line_raovat .wg_image_thumb,
.list_news_widget_1 li.line_raovat{
	border-left:3px solid #176f87;
}
.list_news_widget_2 li.first_line.line_cuoi .wg_image_thumb,
.list_news_widget_1 li.line_cuoi{
	border-left:3px solid #dc3926;
}
.list_news_widget_2 li.first_line.ione .wg_image_thumb,
.list_news_widget_1 li.ione{
	border-left:3px solid #6a1593;
}
.list_news_widget_2 li.first_line.ngosao .wg_image_thumb,
.list_news_widget_1 li.ngosao{
	border-left:3px solid #0173e7;
}
.list_news_widget_2 li.first_line.sendo .wg_image_thumb,
.list_news_widget_1 li.sendo{
	border-left:3px solid #ee2a24;
}

.list_news_widget_2 li.first_line.gamethu .wg_image_thumb,
.list_news_widget_1 li.gamethu{
	border-left:3px solid #d4222b;
}
.list_news_widget_2 li.first_line.suckhoe .wg_image_thumb,
.list_news_widget_1 li.suckhoe{
	border-left:3px solid #04a59d;
}
.list_news_widget_2 li{
	width:47%;
	margin:0 2% 0 0;
	padding:0 0 10px 0;
	display:inline-block;
	vertical-align:top;
}
*+html .list_news_widget_2 li{
	float:left;
	height:140px;
	overflow:hidden;
}
.list_news_widget_2 li .wg_image_thumb{
	width:96%;
	margin:0 0 10px 0;
	border-left:3px solid #fff;
	padding:0 0 0 2%;
}
.list_news_widget_2 li.first_line .wg_image_thumb{
	border-left:3px solid #9f224e;
}

.list_news_widget_2 li.line_xam .wg_image_thumb{
	border-left:3px solid #cccccc;
}
/* widget be yeu van dong */
.box_category {
    margin-bottom: 15px;
}
.width_common {
    width: 100%;
    float: left;
}
.txt_main_category {
    float: left;
    margin: 0px 0px 0px 10px;
    display: inline;
    font: 700 14px/30px arial;
    color: #9F224E;
}
.txt_main_category span, .txt_main_category a {
    color: #9F224E;
    font: 700 14px/30px arial;
    height: 28px;
    display: block;
    float: left;
}
.title_news {
    width: 100%;
    float: left;
    padding: 0px 0px 5px;
}
.title_news a {
    font: 700 14px arial;
    color: #333;
}
.content_box_category .thumb {
    float: left;
    margin: 0px 10px 0px 0px;
    width: 140px;
    position: relative;
}
.news_lead {
    width: 100%;
    font: 400 13px/16px arial;
    color: #333;
}
.block_image_news .news_lead {
    float: none;
    margin: 0px;
}
.content_box_category .list_news_dot_3x3 {
    border-top: 1px dotted #E2E2E3;
    width: 100%;
    float: left;
    margin: 10px 0px 0px;
    padding: 5px 0px 0px;
	color:#666;
}
.content_box_category .list_news_dot_3x3 li {
    margin: 5px 0px 0px;
}
.list_news_dot_3x3 li strong {
    background: url('images/graphics/bg_dot_gray_3x3.gif') no-repeat scroll left 6px transparent;
    padding: 0px 0px 0px 10px;
}
.list_news_dot_3x3 li a {
    font: 700 11px arial;
    color: #666;
}
.bottom_hop_tac {
    width: 100%;
    float: left;
    border-top: 1px dotted #DFDFDF;
    padding: 5px 0px 0px;
    margin: 5px 0px 0px;
}
.txt_hoptac {
    float: left;
    padding-bottom: 5px;
    font: 400 11px arial;
    color: #000;
}
#col_2 .txt_hoptac {
    width: auto;
}
#col_2 .nhataitro {
    float: right;
}
#col_2 .nhataitro img.hoptac {
    margin: 0px 10px 0px 0px;
}
.left {
    float: left;
}
.right {
    float: right;
}
.nhataitro {
    float: right;
}
.nhataitro .vne{ margin-right:5px; margin-top:5px; float:left;}
.list_news_dot_3x3 li a:hover,.title_news a:hover{ color:#004f8b;}
#beyeuvandong_subfolder .title_box_category{  height: 30px; margin-bottom: 10px;overflow: hidden;background:#0c4ea3 url(images/graphics/bg_beyeuvandong.jpg) no-repeat top right; background-size:cover;}
#beyeuvandong_subfolder .title_box_category a{ color:#fff; background:none;}
#beyeuvandong_subfolder .txt_hoptac{ float:left; margin-top:6px;}
#beyeuvandong_subfolder .nhataitro a.vne { float:left; margin-top:6px; margin-right:10px;}

#samsung_subfolder .title_box_category{  height: 30px; margin-bottom: 10px;overflow: hidden;background:url(images/graphics/bg_samsung_hoamai.jpg) no-repeat top right; background-size:cover;}
#samsung_subfolder .title_box_category a{ color:#ffdd5a; background:none;}
#samsung_subfolder .txt_hoptac{ float:left; margin-top:6px; display:inline-block; width:auto;}
#samsung_subfolder .nhataitro a.vne { float:left; margin-top:6px; margin-right:10px;}
#tetdoanvien .title_box_category{
	background:#d61624 url(images/graphics/bg_title_tetdoanvien.gif) no-repeat right top;
}
#tetdoanvien .title_box_category .txt_main_category a{
	color:#fff;
	background:none;
}

#omo_subfolder .title_box_category{  height: 30px; margin-bottom: 10px;overflow: hidden;background:url(images/graphics/bg_omo_xuanyeuthuong.jpg) no-repeat top right; background-size:cover;}
#omo_subfolder .title_box_category a{ color:#fcd740; background:none;}
#omo_subfolder .txt_hoptac{ float:left; margin-top:6px; display:inline-block; width:auto;}
#omo_subfolder .nhataitro a.vne { float:left; margin-top:6px; margin-right:10px;}

/*Update 3 widget mới*/
.list_news_widget_style_1{
	width:100%;
	padding:9px 0;
	float:left;
}
.list_news_widget_style_1 li {
    float: left;
	padding:0 0 8px 0;
	margin:0 0 8px 0;
    width: 100%;
	border-bottom:1px dotted #909090;
}
.list_news_widget_style_1 li:last-child{
	padding:0;
	margin:0;
	border:none;
}
.style_01 .content_widget{
	padding:0 10px;
}

.style_01 .title_widget{
	background:#d26e74;
	padding:0;
} 
.style_01 .title_widget_left a{
	color:#fff;
	font:700 14px/33px arial;
	padding:0;
}
.style_01 .footer_widget{
	background:#d26e74;
} 
.style_01 .footer_widget a{
	color:#fff;
	font:400 11px/25px arial;
	margin: 0 0 0 10px;
}
.style_01 .txt_wg_title{
	font:700 12px arial;
	color:#585858;
}
.style_01 .wg_image_thumb{
	width:27.56%;
	margin:0 10px 0 0;
}
/*style 2*/
.list_news_widget_style_2{
	width:100%;
	padding:10px 0;
	float:left;
	background:#dfdfdf;
}
.list_news_widget_style_2 li {
    float: left;
    width: 50%;
	padding:0 8px;
}
.list_news_widget_style_1 li:last-child{
	padding:0;
	margin:0;
	border:none;
}
.style_02 .content_widget{
}

.style_02 .title_widget{
	background:#4c4c4c;
	padding:0;
} 
.style_02 .title_widget_left a{
	color:#fff;
	font:700 14px/33px arial;
	padding:0;
}
.style_02 .footer_widget{
	background:#949494;
} 
.style_02 .footer_widget a{
	color:#fff;
	font:400 11px/25px arial;
	margin: 0 0 0 10px;
}
.style_02 .txt_wg_title{
	font:700 12px/16px arial;
	color:#585858;
	max-height:48px;
	overflow:hidden;
	float:left;
	display:block;
}
.style_02 .wg_image_thumb{
	width:100%;
	margin:0 0 10px 0;
}
.style_02 .row_txt_lead{
	padding:10px;
	color:#656565;
}

/*style 3*/
.style_03 .title_widget{
	background:#86bbb4;
	padding:0;
} 
.style_03 .title_widget_left a{
	color:#000;
	font:700 14px/33px arial;
	padding:0;
}
.style_03 .footer_widget{
	background:#86bbb4;
} 
.style_03 .footer_widget a{
	color:#000;
	font:400 11px/25px arial;
	margin: 0 0 0 10px;
}
.style_03 .title_news{
	float:none;
	width: auto;
}
.style_03 .title_news a{
	font:700 12px arial;
	color:#000
}
.style_03 .content_box_category{
	padding:10px;
}
.style_03 .content_box_category .list_news_dot_3x3{
	border-top:1px dotted #a3a3a3;
}
.style_03 .content_box_category .list_news_dot_3x3 li{
	padding:0 0 5px 15px;
	margin:0 0 5px 0;
	border-bottom:1px dotted #a3a3a3;
	background:url(images/graphics/bg_dot_7x7.gif) no-repeat 0 4px;
}
.style_03 .content_box_category .list_news_dot_3x3 li:last-child{
	padding-bottom:0;
	margin:0;
	border:none;
}
.style_03 .news_lead{
	font-size:12px;
	color:#000
}
.style_03 .content_box_category .list_news_dot_3x3 li a{
	font:400 12px arial;
	color:#000;
}
